<!DOCTYPE html>
<html>
<head>
    <p>Тигр топ</p>
</head>
<body>
<a href="/menu">МБ в мИню</a>
<p>Няшный тигор топ он очень пушистый и все его любять))</p>
<p>Он любит кушать травоядных обитает в африке и в зоопарке</p>
<p>пушистый, няшный, милый хищный , любит купатся КОРОЧЕ ОН ТОП</p>
<p><img alt="" height="750" src="https://avatarko.ru/img/kartinka/33/zhivotnye_tigr_32478.jpg" width="459"></p>
<p><a href="http://getwallpapers.com/wallpaper/full/f/8/1/986861-download-tiger-hd-wallpaper-1920x1080-ipad.jpg"><img
        alt=""
        src="http://getwallpapers.com/wallpaper/full/f/8/1/986861-download-tiger-hd-wallpaper-1920x1080-ipad.jpg"></a>
</p>
</body>
</html>